.coffee_name{

 font-size: 30px;
    font-weight: 400;
}

.coffee_roast{

    margin: .5em 1em;
    color: grey;
}

h3 {
    text-align: center;
}

label {
    font-weight: bold;
}



.jumbotron {
    background-image: url("coffee-571245571.jpg");
    opacity: 0.9;

}

.heading-bg-container {
    background-color: rgba(35, 127, 235, .9);
    /*opacity: 0.75;*/
    display: inline-block;
}

.display-4, .lead {
    color: white;
    opacity: 1;

}


@media only screen and (max-width: 992px) {
    .heading-bg-container {
        display: block;
        text-align: center;
    }

    h2 {
        text-align: center;
    }

    .coffee_div{
        text-align: center;
    }
}
